 @import url('https://fonts.googleapis.com/css?family=Droid+Sans');/*--- Paragraph Font --*/
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed'); /*--- Headings Font --*/

* {
	margin: 0;
	border: 0;
	padding: 0;

}
html {
    font-size: 100%;
    -ms-text-size-adjust: 100%; 
    -webkit-text-size-adjust: 100%; 
}

body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

header{
	position: fixed;
	top:0;
	left: 0;
	padding: 0 100px;
	background: black;
	width: 100%;
	box-sizing: border-box;
	text-decoration: none;
}
header .logo
{
	color: #fff;
	height: 50px;
	line-height: 50px;
	font-size: 24px;
	float: left;
	font-weight: bold;
}

header nav{
	float: right;
}

header nav ul{
	margin: 0;
	padding: 0;
	display:flex;
	list-style: none;

}

header nav ul li a{
height: 50px;
line-height: 50px;
padding: 0 20px;
color: #fff;
text-decoration: none;
display: block;
}

header nav ul li a:hover,
header nav ul li a.active
{
	color: #fff;
	background: blue;
}
.menu-toggle
{
	color: #fff;
	float: right;
	line-height: 25px;
	font-size: 42px;
	cursor: pointer;
	display: none;
}



@media (max-width: 991px) {
	header{
		padding: 0 20px;
	}
	.menu-toggle{
		display: block;
	}
	header nav{
		position: absolute;
		width: 44%;
		height:cal(100vh-50px);
		background: #333;
		top:50px;
		left: -100%;
		transition: 1.0s;
		z-index: 10000;
	}
    
	header:hover nav{
		left: 0;
	}

	header nav ul{
		display: block;
		text-align: center;
	}
	header nav ul li a{
		border-bottom: 1px solid rgba(0,0,0,0.2);
	}

}

.gym{
	list-style: none;
}

body{
    background-image: url();
    background-color:#006064;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: 100% 100%;
    background-color: white;
	color: black;
	font-family: Sans-serif,sans-serif;
	line-height: 190%;
	
	text-align: center;
}

h3{
	font-size:190%;
	padding: 5% 0;
}
h4{
	font-size:180%;
	padding: 2% 0;
}
h5{
	font-size:120%;
	color: #333;
}

/*Starter slide*/
.slider{

	margin-top: 30px;

	}
.bx-controls{
	display:none;
}

/*start inner wrapper*/
#inner-wrapper{
	max-width: 1200px;
	margin:0 auto;
}
.one-third{
	width: 29%;
	float: left;
	margin: 2%;

}
.one-third:hover {
 box-shadow:1px 1px 20px 8px #a7a7c124;
}
.one-third i{
	color: #F0F0F0;
	font-size: 455%;
	padding:20%;
	

}
p{
	font-family:'Driod Sans',sans-serif;
	font-size:105%;
	text-align: justify;
	text-transform: none;
	padding: 1%;
}

.clearfix{
	clear: both;
	padding: 2%;
}
article{
	float: left;
	width:50%;
	padding: 4%;
	border-radius: 90%;
}

aside{
	float: right;
	width:35%;
	padding: 2%;
}
aside h3{
	text-decoration:underline;
}
.one-third img{
	padding-bottom: 2%;
}
/*footer*/
footer{
	background:#001024;
	overflow: hidden;
	opacity: 0.9;
	float: right;
	width: 100%
}
#footer-inner{
	max-width: 1200px;
	margin: 0 auto;
}
footer.one-third{
	width:33%;
	margin: 2% 0;
}
footer h3{
	color: #959595;
}
footer p{
	color:white;
	text-align: center;
}
footer p:hover{
	color: #F5F5F5;
}
#footer-third{
  border-right: 2px solid white;
  max-height: 250px;
  min-height: 250px;
	
}
footer a{
 color: #F5F5F5;
 text-decoration:none;
}
.Social li{
	display: inline;
}
.Social i{
    font-size:245%; 
    padding:2% 6%;
    color:;
}
.Social i:hover{
	color: #F5F5F5;
}

h5 a:{
	color: #F5F5F5;
}
footer .second{
	border-top: 1px;
    max-height:30px; 
    opacity: 0.95;
    background-color: black;
}

#footer-last{ 
	
background-color:#000;
padding: none;
color:#f5f5f5;
}
footer h3{
	color: white;
}
footer h5{
	color:#333;
}



/*FOOTER*/
@media(max-width: 768px){
	.clear:before;

	.clear:after {
    	content:'';
    	display: table;
    } 

    .clear:after {
    	clear: both;
    }

    	.slider {

	margin-top: 90px;
	max-width: 100%;

	}
   .one-third{
		width: 100%;
		margin: 0;
	}
article{
    	width: 100%;
    	padding: 0;
    	margin: 0;
    }
 aside{
    	width: 100%;
    }
 h4{
    	font-size: 140%;
    }
   footer.one-third{
    	width: 100%;
    	margin: 0;
 }
.Social i{
 	font-size: 245%;
 }
 #footer-third{
 	min-height: 150px;
 	padding-bottom: 10%;
 	border-bottom: 2px solid white;
 	 }
 	  #footer-third-last{
 	 	margin-bottom: 15%;
 	 }
 	 body {
       background-position: center; 
       background-size: 100% 100%;
     }
}
























    @media(max-width: 478px){
h3{
		font-size: 150%;
	}

p{
		font-size: 100%;
		margin: 2%;
	}

h4{
		font-size: 115%;
	}
	.one-third {
		width: 100%;
		    box-shadow: 0px -3px 0px 1px #a7a7c124;

	}
	.slider {

  margin-top: 50px;
  max-width: 100%;
	}
	 body {
       background-position: center; 
       background-size: 100% 100%;
     }
       
}

@media(max-width: 380px){

.one-third i{
	font-size: 300%;
	padding: 20%;

}
.Social i{
	font-size: 240%;
	padding: 3%;
}
p{
  font-size: 90%
}
h3{
 font-size: 120%;
}
     body {
       background-position: center; 
       background-size: 100% 100%;
     }
 }

 a{ img{
 width:16px !important;
 }
 }











 /*         Third party   */

 body {
  margin: 0;
  padding: 0;
  background: #f7f7f7;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
a {
  color: #000;
}
.header {
  background: #2d2d2d;
  padding-top: 3px;
  height: 52px;
}
.header h1 {
  font-size: 18px;
  margin: 0;
  padding: 0;
}
.header h1 a {
  cursor: pointer;
}
.header .wrap {
  padding: 15px 0;
  width: 90%;
}
.header a {
  text-decoration: none;
  font-weight: bold;
}
.header a span {
  font-weight: lighter;
}
.header.white a {
  color: white;
}

#logo {
  float: left;
  width: 160px;
}

#nav {
  float: right;
}
#nav ul {
  margin: 0;
  padding: 0;
}
#nav ul li {
  float: left;
  list-style: none;
}
#nav ul li a {
  font-size: 14px;
  padding: 0 10px;
  font-weight: normal;
  -webkit-font-smoothing: auto;
  cursor: pointer;
}

.wrap {
  margin: auto;
  max-width: 1080px;
  width: 95%;
  padding: 20px 60px
}

.demoText{
  font-size: 17px;
  background: #FFF;
  box-sizing: border-box;
}
.demoText h1{
  font-size: 22px;
  margin-bottom: 0;
}
.demoText h2{
  font-size: 18px;
  margin-top: 5px;
}
.demoText p{
  font-size: 18px;
  font-family: serif;
  line-height: 27px
}
.demoInstruction{
  border-left: 2px solid #e5e5e5;
  padding: 30px 0px;
  margin: 20px 0;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}
.demoInstruction .wrap{
  max-width: 1040px;
}

code[class*="language-"],
pre[class*="language-"] {
  color: #f8f8f2;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
  border-radius: 0.3em;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #232530;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

.token.punctuation {
  color: #f8f8f2;
}

.namespace {
  opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #f92672;
}

.token.boolean,
.token.number {
  color: #ae81ff;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #a6e22e;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #f8f8f2;
}

.token.atrule,
.token.attr-value {
  color: #e6db74;
}

.token.keyword {
  color: #66d9ef;
}

.token.regex,
.token.important {
  color: #fd971f;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

pre.line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber;
}

pre.line-numbers > code {
  position: relative;
}

pre.line-numbers {
  position: relative;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 3.8em;
  counter-reset: linenumber;
  overflow-y: hidden;
  width: 100%;
  box-sizing: border-box;
}

pre.line-numbers > code {
  position: relative;
  width: 100%
}

.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: -1.2em;
  bottom: -1.2em;
  background: #2A2B38;
  font-size: 100%;
  left: -3.8em;
  padding-top: 1em;
  padding-bottom: 1em;
  color: #363f4d;
  text-align: center;
  width: 3em; /* works for line-numbers below 1000 lines */
  letter-spacing: -1px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.line-numbers-rows > span {
  pointer-events: none;
  display: block;
  counter-increment: linenumber;
}

.line-numbers-rows > span:before {
  content: counter(linenumber);
  color: #999;
  display: block;
  padding-right: 0.8em;
  text-align: right;
}



